/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

  /* CSS */

}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {

  /* CSS */

}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {

  /* CSS */

}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  /* CSS */

}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {

  /* CSS */

}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {

  /* CSS */
  header {

    height: 65vh;
    text-align: center;
    padding: 0px 15px;
  }

  .banner-part h1 {
    font-size: 30px;
    line-height: 40px;


  }


  .banner-part p {
    width: 100%;
    padding: 0px 20px;
  
  }
  
  .cus-height {
    height: 60vh;
  }
  
  .navbar .nav-item::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #578bd1;
    transform: scale(0, 1);
    /* transform-origin: 100% 0%; */
    transition: 0.7s;
  }
  
  .navbar .nav-item:hover:after {
    transform: scale(0, 0);
    transition: 0.7s;
  }
  




  .feature h2 {
    font-size: 30px;
    
  }
  
  .feature {
    padding-bottom: 0px;

  }


  .feature .content {
    margin-bottom: 50px;

  }

  .feature .content i{
    margin-bottom: 20px;

  }

  .feature .content p{
    padding: 0px 45px;

  }

  .Bf-section ul {
    margin: 30px 0px 0px;
    padding: 0;
}

.b-inner {
  width: 100%;
  padding: 60px 0px;
  text-align: left;
}

.c-inner .underline {

  width: 80px;
  background: #578bd1;
  height: 3px;
  
}

.c-inner.c-inner p {
  width: 100%;
  
}




.b-inner.b-inner p {
  width: 92%;
  text-align: left;
  margin: 18px;
  
}
.b-inner .underline{
  margin: 0;
}      





element.style {
  transform: translate3d(-1665px, 0px, 0px);
  transition: all;
  width: 6663px;
  margin-left: 45px;
}


.c-inner {

  text-align: center;
}


.c-inner .underline {
  margin: 25px 109px;
  width: 80px;
  background: #578bd1;
  height: 3px;
}

.price-section .p-card {
  margin: 50px 25px;
  margin-top: 10px;
}

.item{
  margin-left: 94px;
}

.owl-theme .owl-dots {
  margin-top: 76px !important;
}

.price-section {
  width: 100%;
  padding: 62px 0px 0px;
}


.navbar-toggler-icon {
  display: inline-block;
  width: 2.5em;
  height: 2.5em;
  vertical-align: middle;
  background-image: var(--bs-navbar-toggler-icon-bg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-color: white;
}



form .form-inner {
  display: inline;
  padding: 42px 35px;
}

form .form-inner .right {
  
  margin-left: 0px;
}


form {
  width: 85%;
 padding: 50px;
}








































































}